<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Revenue</title>
</head>
<body>
    <h1>Specific Service Revenues</h1>
    <ul>
        <li>Phone Service Revenue: ksh {{ revenue.phone_service_revenue }}</li>
        <li>Internet Service Revenue: ksh {{ revenue.internet_service_revenue }}</li>
        <li>Online Security Revenue: ksh {{ revenue.online_security_revenue }}</li>
        <li>Device Protection Revenue: ksh {{ revenue.device_protection_revenue }}</li>
        <li>Streaming TV Revenue: ksh {{ revenue.streaming_tv_revenue }}</li>
        <li>Streaming Movies Revenue: ksh {{ revenue.streaming_movies_revenue }}</li>
        <li>Online Backup Revenue: ksh {{ revenue.online_backup_revenue }}</li>
        <li>Tech Support Revenue: ksh {{ revenue.tech_support_revenue }}</li>


        <h2>Total Revenue = ksh {{ total_revenue }}</h2>
    </ul>
</body>
</html>